doctype html
html(lang="en")
  head
    title AdvText Editor
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="Nathan Wittstock, Far Dog LLC")
    meta(name="keywords", content="")
    meta(name="copyright", content="Far Dog LLC, Copyright (c) 2014.")

    script(type="text/javascript", src=modernizr)
    each file in css
      link(rel="stylesheet", href=file)
  body
    #editarea(data-bind="with: room" style="display:none;")
      .row
        script(type="text/template", id="attributes-template")
          .panel
            .row
              .medium-2.columns
                label.inline Attribute Type
                  select(data-bind="value: type")
                    option(value="exit") Exit
                    option(value="command") Command
              .medium-3.columns
                label.inline Command, or Exit Name
                  input(type="text", data-bind="value: name")
              .medium-2.columns
                label.inline Direction Exit Moves
                  select(data-bind="value: move")
                    option(value="") None
                    option(value="n") North
                    option(value="s") South
                    option(value="w") West
                    option(value="e") East
              .medium-3.columns
                label.inline Item(s) Received
                  input(type="text", data-bind="value: items")
              .medium-2.columns.text-right
                button.tiny.alert(data-bind="click: $parent.data.removeAttribute") Delete
            .row
              .medium-12.columns
                div(data-bind="template: { foreach: availability, name: 'availability-template'}, sortableList: availability")
                button.tiny(data-bind="click: addAvailabilityRow()") Add Availability Row

        script(type="text/template", id="availability-template")
          .panel
            .row
              .medium-3.columns
                label.inline Required Items
                  input(type="text", data-bind="value: items")
              .medium-5.columns
                label.inline Message if Passed
                  input(type="text", data-bind="value: message")
              .medium-2.columns
                label.inline Makes Attribute Available?
                  input(type="checkbox", data-bind="checked: available")
              .medium-2.columns.text-right
                button.tiny.alert(data-bind="click: $parent.removeAvailability") Delete

        .medium-6.columns
          h2 Room(
            span(data-bind="text: data.x")
            | ,
            span(data-bind="text: data.y")
            | )
            button.small(data-bind="click: $parent.saveRoom") Save
          label Name
            input(type="text", data-bind="value: data.name")
          label Map
            input(type="text", data-bind="value: data.map")
      .row
        .medium-12.columns
          div(data-bind="template: { foreach: data.attributes, name: 'attributes-template' }")
          button.tiny(data-bind="click: $parent.addAttributeRow") Add Attribute

    #roomarea.row
      .medium-12.columns
        h2 Rooms
        ul.rooms(data-bind="foreach: rooms")
          li(data-bind="click: $parent.selectRoom, css: {selected: selected(), occupied: occupied(), origin: origin()}")

      .alert-box.warning(data-bind="visible: error, text: error", data-alert)

    footer.row
      hr
      .medium-6.columns
        | AdvText Editor
      .medium-6.columns.text-right
        | &copy; 2014 
        a(href="http://fardogllc.com/", target="_blank") Far Dog LLC

    each file in js
      script(type="text/javascript", src=file)
